<%- include('header'); %>

    <div class="container">
        <h1><%= title%></h1>
        <a href="/profile">Profile</a>
    </div>
    <br>
    <a href="/transfer">Transfer</a>

    <%- 'Summary', { account: accounts.savings } %>
    <%- 'Summary', { account: accounts.checking } %>
    <%- 'Summary', { account: accounts.credit } %>

<%- include('footer'); %>